@model dynamic

@{
    Layout = "~/Views/Shared/_LayoutFrontOffice.cshtml";
}

<div class="accueil">

    @Html.Partial("~/Views/Shared/Zones.cshtml", @Model.ContenusZones as List<WS.Models.OUT.Contenu>)

    <div class="clear"></div>

    <div class="mea titre"><a href="/Stages" title="Cliquer pour consulter">STAGES</a></div>
    <div class="mea titre"><a href="/Cours" title="Cliquer pour consulter">COURS</a></div>
    <div class="mea titre last"><a href="/Tournois" title="Cliquer pour consulter">TOURNOIS</a></div>

    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/Actualites.cshtml", @Model.ContenuActualites as List<WS.Models.OUT.Contenu>)

    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/PartenariatsEncarts.cshtml", @Model.ContenusPartenariatsEncarts as List<WS.Models.OUT.Contenu>)

    <div class="clear"></div>

</div>

<script language="javascript" src="@Url.Content("~/Scripts/Views/Accueil.js")" type="text/javascript"></script>