@model dynamic

@{
    try { ViewBag.Title = Model.ContenusZones[0].Titre; } catch { }
    try { ViewBag.Description = Model.ContenusZones[0].Texte; } catch { }
    Layout = "~/Views/Shared/_LayoutFrontOffice.cshtml";
}

<div class="partenariats">

    @Html.Partial("~/Views/Shared/Zones.cshtml", (@Model.ContenusZones) as List<WS.Models.OUT.Contenu>)

    <div class="clear"></div>

    @if ((Model != null) && (Model.ContenuPartenariats.Count > 0))
    {

        for (Int32 _Index = 0; _Index < (Model.ContenuPartenariats as List<WS.Models.OUT.Contenu>).Count; _Index++)
        {
            <div class="partenariat @((_Index + 1) % 3 == 0 ? "last" : "")">
                <span>DEPUIS LE @((Model.ContenuPartenariats[_Index].DtDebut as String).Left(10))</span>
                <a href="@Model.ContenuPartenariats[_Index].Lien" target="_blank" title="Cliquer pour consulter"><img class="full" src="@Angular.Constants.IMG_URL/Contenus/@Model.ContenuPartenariats[_Index].Id/@Model.ContenuPartenariats[_Index].Carree" /></a>
            </div>
        }

    }

    <div class="clear"></div>

    @Html.Partial("~/Views/Shared/PartenariatsEncarts.cshtml", (@Model.ContenusPartenariatsEncarts) as List<WS.Models.OUT.Contenu>)

    <div class="clear"></div>

</div>

<script language="javascript" src="@Angular.Constants.ROOT_URL/Scripts/Views/Partenariats.js" type="text/javascript"></script>
