@model dynamic 
    
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>L'École DU CAVALIER ROI : @ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />


    @Styles.Render("~/Content/CSS/Site.css")
    <link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />

    @Scripts.Render("~/Scripts/jquery/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery-ui-datepicker-fr-addon.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery-ui-timepicker-addon.js")

    @Scripts.Render("~/Scripts/jquery-nl/functions-2.6.2.js")
    @Scripts.Render("~/Scripts/jquery-nl/navigateurs-1.6.1.js")

    @Scripts.Render("~/Scripts/jquery-nl/jquery-nl-modalpopup-2.6.5.B.js")
    @Scripts.Render("~/Scripts/jquery-nl/jquery-nl-touchslider-2.3.6.js")
    @Scripts.Render("~/Scripts/jquery-nl/jquery-nl-accordeon-2.0.3.js")

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/Images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/Images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/Images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/Images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/Images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/Images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/Images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/Images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/Images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/Images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/Images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/Images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/Content/Images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/Images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

</head>
<body>

    <script type="text/javascript">
        var imgRelativePath = '@Angular.Constants.IMG_URL';
    </script>




    @Html.Partial("~/Views/Shared/Messages.cshtml", @Model.ContenusModals as List<WS.Models.OUT.Contenu>)

    @Html.Partial("~/Views/Shared/Contact.cshtml")

    @Html.Partial("~/Views/Shared/Actualite.cshtml")

    @Html.Partial("~/Views/Shared/Connexion.cshtml")


    @if (HttpContext.Current.Request.Url.AbsoluteUri.ToLower().IndexOf("cours") > -1)
    {
        @Html.Partial("~/Views/Shared/CalendrierParHeure.cshtml")
    }
    else if (HttpContext.Current.Request.Url.AbsoluteUri.ToLower().IndexOf("stages") > -1)
    {
        @Html.Partial("~/Views/Shared/CalendrierParDemiJournee.cshtml")
    }
    else if (HttpContext.Current.Request.Url.AbsoluteUri.ToLower().IndexOf("tournois") > -1)
    {
        @Html.Partial("~/Views/Shared/CalendrierParEvenement.cshtml")
    }
    else if (HttpContext.Current.Request.Url.AbsoluteUri.ToLower().IndexOf("moncompte") > -1)
    {
        @Html.Partial("~/Views/Shared/CalendrierParHeure.cshtml")
    }





    <div class="page_frontoffice">

        <div class="filter_frontoffice">

            @Html.Partial("~/Views/Shared/Menu.cshtml")

            <div class="colonne">

                <img class="logo_site" src="@Angular.Constants.IMG_URL/Logo Noir 425.png" />

                @if (HttpContext.Current.Request.Url.AbsoluteUri.ToLower().IndexOf("moncompte") > -1)
                {
                    @Html.Partial("~/Views/Shared/Liens.cshtml", @Model.Eleve as WS.Models.OUT.Eleve)
                }

                @if (HttpContext.Current.Request.Url.AbsoluteUri.ToLower().IndexOf("boutique") > -1)
                {
                    @Html.Partial("~/Views/Shared/Panier.cshtml", @Model.Commande as WS.Models.OUT.Commande)
                }

                @Html.Partial("~/Views/Shared/PartenariatsPromos.cshtml", @Model.ContenusPartenariatsPromos as List<WS.Models.OUT.Contenu>)
            </div>


            <div class="contenu">

                @RenderBody()

            </div>

            <div class="clear"></div>

            @Html.Partial("~/Views/Shared/PartenariatsBandeaux.cshtml", @Model.ContenusPartenariatsBandeaux as List<WS.Models.OUT.Contenu>)

            <div class="clear"></div>

            @Html.Partial("~/Views/Shared/Footer.cshtml")

            <div class="clear"></div>

        </div>

    </div>






</body>
</html>