@model dynamic 
    
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/CSS/Site.css")
    <link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />

    @Scripts.Render("~/Scripts/jquery/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery-ui.min.js")

    @Scripts.Render("~/Scripts/jquery-nl/functions-2.6.2.js")
    @Scripts.Render("~/Scripts/jquery-nl/navigateurs-1.6.1.js")

    @Scripts.Render("~/Scripts/jquery-nl/jquery-nl-modalpopup-2.6.5.B.js")
    @Scripts.Render("~/Scripts/jquery-nl/jquery-nl-touchslider-2.3.6.js")


</head>
<body>

    <script type="text/javascript">
        var imgRelativePath = '../Content/Images';
    </script>

    <div class="page_frontoffice">

        <div class="filter_frontoffice">

            @Html.Partial("~/Views/Shared/Menu.cshtml")

            <div class="colonne">

                <img class="logo_site" src="~/Content/Images/Logo Noir 425.png" />

                @Html.Partial("~/Views/Shared/Panier.cshtml")

                @Html.Partial("~/Views/Shared/PartenariatsPromos.cshtml", @Model.ContenusPartenariatsPromos as List<WS.Models.OUT.Contenu>)
            </div>


            <div class="contenu">

                @RenderBody()

            </div>

            <div class="clear"></div>

            @Html.Partial("~/Views/Shared/PartenariatsBandeaux.cshtml", @Model.ContenusPartenariatsBandeaux as List<WS.Models.OUT.Contenu>)

            <div class="clear"></div>

            @Html.Partial("~/Views/Shared/Footer.cshtml")

            <div class="clear"></div>

        </div>

    </div>

    @Html.Partial("~/Views/Shared/Contact.cshtml")


    @Html.Partial("~/Views/Shared/Messages.cshtml", @Model.ContenusModals as List<WS.Models.OUT.Contenu>)

    @Html.Partial("~/Views/Shared/Actualite.cshtml")


    @Html.Partial("~/Views/Shared/Connexion.cshtml")

    @Html.Partial("~/Areas/Evenements/Views/Shared/CalendrierParHeure.cshtml")

    @Html.Partial("~/Areas/Evenements/Views/Shared/CalendrierParDemiJournee.cshtml")


</body>
</html>