<div id="Div_CalendrierParDemiJournee" class="modal_calendrier">
    <img class="fermer" src="@Angular.Constants.IMG_URL/Boutons/Fermer.svg" />
    <div class="titre"></div>
    <div class="clear"></div>

    <div class="texte">

        <input type="hidden" id="Hidden_EvenementId" />
        <input type="hidden" id="Hidden_EvenementLibelle" />
        <input type="hidden" id="Hidden_EleveId" />
        <input type="hidden" id="Hidden_DtDebut" />
        <input type="hidden" id="Hidden_DtFin" />
        <input type="hidden" id="Hidden_Prix" />
        <input type="hidden" id="Hidden_Duree" />
        <input type="hidden" id="Hidden_EvenementParentId" />

        <div class="texte planning">
            <table cellpadding="0" cellspacing="0" border="0" class="dates">
                <tr>
                    <td align="center"><div></div></td>
                </tr>
            </table>
            <div class="heures">
                <table cellpadding="0" cellspacing="0" border="0"></table>
            </div>
            <div class="clear"></div>
            <div class="selections">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td colspan="2">Aucune réservation</td>
                    </tr>
                </table>
            </div>

            <span class="nb"></span><span class="sur">/</span><span class="duree"></span>

            <input type="button" title="Valider" value="Valider" class="valider fright" />
        </div>
    </div>


    <div class="texte paiement">

        <ul id="Ul_Paiements" class="accordeon">
            <li>
                <div class="header">JE PAYE EN CB OU AVEC PAYPAL</div>
                <ul>
                    <li>
                        La solution de paiement en ligne, fiable, rapide, sécurisée, qui permet de payer par carte bancaire ou par le biais de votre compte PayPal.
                        <div class="br10"></div>
                        <div title="Payer avec PayPal" id="paypal-button-container" class="fright"></div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </li>

            <li>
                <div class="header">JE PAYE AUTREMENT</div>
                <ul>
                    <li>
                        L'École du Cavalier Roi vous propose de voir avec elle pour un paiement par chèque, virement, espèces...
                        <div class="br10"></div>
                        <input type="button" value="Payer" class="valider autre fright" title="Payer" />
                        <div class="clear"></div>
                    </li>
                </ul>
            </li>

        </ul>

        <div class="todelete">
            <input type="button" value="Revenir" class="revenir fright" title="Revenir" />
        </div>

    </div>


    <div class="texte confirmation">

        <div class="confirmation1">
            Votre inscription à cette formule de stage a bien été prise en compte et vos réservations ont bien été enregistrées !
            <br />
            <br />
            Vous pouvez retrouver toutes vos inscriptions/réservations dans la partie "Mon Compte".
            <br />
            <br />
            Merci de contacter au plus vite l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.INSCRIPTIONS_EMAIL" target="_blank">@Angular.Constants.INSCRIPTIONS_EMAIL</a> pour régler le paiement.
        </div>

        <div class="confirmation2">
            Votre inscription à cette formule de stage a bien été prise en compte, vos réservations ont bien été enregistrées et votre paiement a bien été effectué !
            <br />
            <br />
            Vous pouvez retrouver toutes vos inscriptions/réservations dans la partie "Mon Compte".
            <br />
            <br />
            Pour plus d'informations, n'hésitez pas à contacter l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.INSCRIPTIONS_EMAIL" target="_blank">@Angular.Constants.INSCRIPTIONS_EMAIL</a>.
        </div>

        <div class="confirmation3">
            Votre inscription à cette formule de stage a bien été prise en compte, vos réservations ont bien été enregistrées mais votre paiement a rencontré un problème !
            <br />
            <br />
            Vous pouvez retrouver toutes vos inscriptions/réservations dans la partie "Mon Compte".
            <br />
            <br />
            Merci de contacter au plus vite l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.INSCRIPTIONS_EMAIL" target="_blank">@Angular.Constants.INSCRIPTIONS_EMAIL</a> pour régler le paiement.
        </div>

        <div class="confirmation4">
            Votre inscription à cette formule de stage gratuite a bien été prise en compte !
            <br />
            <br />
            Vous pouvez retrouver toutes vos inscriptions dans la partie "Mon Compte".
            <br />
            <br />
            Pour plus d'informations, n'hésitez pas à contacter l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.INSCRIPTIONS_EMAIL" target="_blank">@Angular.Constants.INSCRIPTIONS_EMAIL</a>.
        </div>

        <div class="confirmation5">
            Votre inscription à cette formule de stage a bien été prise en compte !
            <br />
            <br />
            Vous pouvez retrouver toutes vos inscriptions dans la partie "Mon Compte".
            <br />
            <br />
            Merci de contacter au plus vite l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.INSCRIPTIONS_EMAIL" target="_blank">@Angular.Constants.INSCRIPTIONS_EMAIL</a> pour régler le paiement.
        </div>

        <div class="confirmation6">
            Votre inscription à cette formule de stage a bien été prise en compte et votre paiement a bien été effectué !
            <br />
            <br />
            Vous pouvez retrouver toutes vos inscriptions dans la partie "Mon Compte".
            <br />
            <br />
            Pour plus d'informations, n'hésitez pas à contacter l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.INSCRIPTIONS_EMAIL" target="_blank">@Angular.Constants.INSCRIPTIONS_EMAIL</a>.
        </div>

        <div class="confirmation7">
            Votre inscription à cette formule de stage a bien été prise en compte mais votre paiement a rencontré un problème !
            <br />
            <br />
            Vous pouvez retrouver toutes vos inscriptions dans la partie "Mon Compte".
            <br />
            <br />
            Merci de contacter au plus vite l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.INSCRIPTIONS_EMAIL" target="_blank">inscriptions@cavalier-roi.fr</a> pour régler le paiement.
        </div>

        <div class="confirmation8" style="display:none;">
            Votre inscription à cette formule de stage gratuite a bien été prise en compte et vos réservations ont bien été enregistrées !
            <br />
            <br />
            Vous pouvez retrouver toutes vos inscriptions dans la partie "Mon Compte".
            <br />
            <br />
            Pour plus d'informations, n'hésitez pas à contacter l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.INSCRIPTIONS_EMAIL" target="_blank">@Angular.Constants.INSCRIPTIONS_EMAIL</a>.
        </div>
    </div>




</div>




<script language="javascript" src="@Angular.Constants.ROOT_URL/Scripts/Views/Shared/CalendrierParDemiJournee.js" type="text/javascript"></script>
