<div class="menu">

    <div class="menu_mobile">
        <img src="@Constants.IMG_URL/boutons/Boutique.svg" title="Voir le panier" class="basket" />
        <img src="@Constants.IMG_URL/boutons/Menu.svg" class="hamburger" />
        <span class="part1">LE CAVALIER ROI</span>
        <span class="part2">ECOLE D'ECHECS</span>
    </div>

    <img class="logo" src="@Constants.IMG_URL/Jaune.png" />

    <div class="liste">
        <ul class="first">
            <li class="accueil"><a href="@Constants.ROOT_URL"><img src="" />ACCUEIL</a></li>
            <li class="actualites"><a href="@Constants.ROOT_URL/Actualites"><img src="" />ACTUALITES</a></li>
            <li class="echecs"><a href="@Constants.ROOT_URL/Echecs"><img src="" />LES ECHECS</a></li>
            <li class="stages"><a href="@Constants.ROOT_URL/Stages"><img src="" />STAGES</a></li>
            <li class="cours"><a href="@Constants.ROOT_URL/Cours"><img src="" />COURS</a></li>
            <li class="tournois"><a href="@Constants.ROOT_URL/Tournois"><img src="" />TOURNOIS</a></li>
            <li class="boutique">
                <img src="" />BOUTIQUE
                <ul class="second">
                    <li><a href="@Constants.ROOT_URL/Boutique">DIVERS</a></li>
                    <li><a href="@Constants.ROOT_URL/Boutique">JEUX D'ECHECS</a></li>
                    <li><a href="@Constants.ROOT_URL/Boutique">PENDULES</a></li>
                    <li><a href="@Constants.ROOT_URL/Boutique">LIVRES</a></li>
                    <li><a href="@Constants.ROOT_URL/Boutique">LOGICIELS</a></li>
                </ul>
            </li>
            <li class="moncompte"><a href="@Constants.ROOT_URL/MonCompte"><img src="" />MON COMPTE</a></li>
            <li class="contact last" id="Li_Contact"><a href="#"><img src="" />CONTACT</a></li>
        </ul>
        <div class="clear"></div>
        <hr />
        <div class="clear"></div>
        <div class="focus"></div>
    </div>

</div>


<script language="javascript" src="@Constants.ROOT_URL/Scripts/Views/Shared/Menu.js" type="text/javascript"></script>
