@model WS.Models.OUT.Commande

@if (Model != null)
{
    <div class="panier">
        <div class="interieur">
            <img class="fermer" src="@Angular.Constants.IMG_URL/Boutons/Fermer.svg" />
            <div class="titre">MON PANIER</div>
            <div class="clear"></div>

            <div class="cadre">
                <div class="etapes">
                    <div class="etape1 texte">
                        @Html.Partial("~/Views/Shared/PanierEtape1.cshtml", @Model)
                    </div>

                    <div class="etape2 texte">
                        @Html.Partial("~/Views/Shared/PanierEtape2.cshtml", @Model)
                    </div>

                    <div class="etape3 texte">
                        @Html.Partial("~/Views/Shared/PanierEtape3.cshtml", @Model)
                    </div>

                    <div class="etape4 texte">
                        <div class="confirmation1">
                            Votre commande a bien été prise en compte !
                            <br />
                            <br />
                            Vous pouvez retrouver toutes vos commandes dans la partie "Mon Compte".
                            <br />
                            <br />
                            Merci de contacter au plus vite l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.COMMANDES_EMAIL" target="_blank">@Angular.Constants.COMMANDES_EMAIL</a> pour régler le paiement.
                        </div>

                        <div class="confirmation2">
                            Votre commande a bien été prise en compte et votre paiement a bien été effectué !
                            <br />
                            <br />
                            Vous pouvez retrouver toutes vos commandes dans la partie "Mon Compte".
                            <br />
                            <br />
                            Vous recevrez votre facture directement par mail ou en la demandant à <a href="mailto:@Angular.Constants.COMMANDES_EMAIL" target="_blank">@Angular.Constants.COMMANDES_EMAIL</a>.
                            <br />
                            <br />
                            Pour plus d'informations, n'hésitez pas à contacter l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.COMMANDES_EMAIL" target="_blank">@Angular.Constants.COMMANDES_EMAIL</a>.
                        </div>

                        <div class="confirmation3">
                            Votre commande a bien été prise en compte mais votre paiement a rencontré un problème !
                            <br />
                            <br />
                            Vous pouvez retrouver toutes vos commandes dans la partie "Mon Compte".
                            <br />
                            <br />
                            Merci de contacter au plus vite l'École du Cavalier Roi à <a href="mailto:@Angular.Constants.COMMANDES_EMAIL" target="_blank">@Angular.Constants.COMMANDES_EMAIL</a> pour régler le paiement.
                        </div>
                    </div>

                </div>
            </div>

            <div class="clear"></div>

        </div>
    </div>

}